<br><h3><U><%= @album.name %> Album</u></h3>

<%= render :partial => 'photographs/index' %>

<% if Like::Like.liking?(current_user, @album) %>
  <%= link_to "<i class='glyphicon glyphicon-thumbs-down'></i> Unlike".html_safe, like_path_for(@album), method: :delete %>
<% else %>
  <%= link_to "<i class='glyphicon glyphicon-thumbs-up'></i> Like".html_safe, like_path_for(@album), method: :post %>
<% end %>
<br>

<%= commontator_thread(@album) %>