<div class="container">
  <ul class="row">
    <% @album.photographs.each do |photo| %>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <%= image_tag photo.img.url, :width => '100%', :id => 'image_id' %>
            <% if Like::Like.liking?(current_user, photo) %>
              <%= link_to "<i class='glyphicon glyphicon-thumbs-down'></i> Unlike".html_safe, like_path_for(photo), :class => "like", method: :delete, data: { remote: "true" }  %>
            <% else %>
              <%= link_to "<i class='glyphicon glyphicon-thumbs-up'></i> Like".html_safe, like_path_for(photo), :class => "like", method: :post, data: { remote: "true" } %>
            <% end %>
           <%= Like::Like.with_likeable(photo).count %>
        </li>
    <%end%>
  </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
     <!--  <div class="modal-footer">
        <a href=""></a>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row" align="right">

<%= link_to new_photograph_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-picture"></i>Upload Photo
<%end%>

<%= link_to albums_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-picture"></i>Gallery
<%end%>

<%= link_to home_index_path, class: 'btn btn-primary' do %>
 <i class="glyphicon glyphicon-home"></i>Home
<%end%>

</div>
