<div class="row">
  <h3><u>Histroy of Category</u></h3>
</div>

<div class="row" align="right">
  <%= link_to home_index_path, class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-home"></i>Home
  <%end%>
</div><br>

<table class="table">
  <tr>
    <th>item_id</th>
    <th>item_type</th>
    <th>event</th>
    <th>whodunnit</th>
    <th>object</th>
  </tr>

   <% @versions.each do |version| %>
    <tr>
      <td><%=version.item_id%></td>
      <td><%=version.item_type%></td>
      <td><%=version.event%></td>
      <td><%=version.whodunnit%></td>
      <td><%=version.object%></td>
    </tr>
   <%end%>
</table>